body {
	background-color: #f2f2f2;
}

div {
	font-size: 1.1em;
}

span {
	font-size: 15px;
}


.heading {
  background: #fff;
  padding: 0px;
  margin: 20px 0px 10px 0px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  border-radius: 3px;
  height: 100px
}

.heading-bttn {
  float: right;
  text-align: center;
  padding-top: 5px;
  margin: 20px;
  background-color: #bfbfbf;
  width: 160px;
  height: 60px;
  border-radius: 3px;
  font-size: 1.7em;
  transition: all 0.3s ease 0s;
}

.heading-bttn:hover {
  filter: brightness(75%);
}

.heading-title {
  background-color: #bfbfbf;
  position: absolute;
  padding: 0px 15px 15px 15px;
  height: 100px;
  width: 45%;
  font-size: 2.1em;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px
}

.welcome {
  font-size: 0.4em;
}

.panel {
  background: #fff;
  padding: 0px;
  border: 0;
  margin-top: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  border-radius: 3px
}

.panel-title {
  background-color: #bfbfbf;
  
  padding: 15px;
  height: 65px;
  width: 100%;
  font-size: 1.4em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px
}

.shared-panel {
  background: #fff;
  padding: 0px;
  border: 0;
  margin-top: 20px;
  margin-left: 5%;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  border-radius: 3px
}

.invis-panel {
  background: #fff;
  padding: 8px;
  margin-top: 20px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.entry {
  background: #f2f2f2;
  padding: 8px;
  border: 0;
  margin: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  border-radius: 3px;
  transition: all 0.3s ease 0s;
}

.entry:hover {
  filter: brightness(75%);
}

.group-bttn {
  background: #bfbfbf;
  padding: 0px;
  padding-top: 8px;
  border: 0;
  margin: 35px 0px 0px 3%;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  border-radius: 3px;
  height: 120px;
  width: 22%;
  transition: all 0.3s ease 0s;
}

.group-bttn:hover {
  filter: brightness(75%);
}

.role-label {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  padding-top: 15px;
  height: 70px;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 0.8em;
}

.add-group-bttn {
  background: #fff;
  text-align: center;
  padding-top: 20px;
  border: 0;
  margin: 20px 0px 0px 14%;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  border-radius: 3px;
  height: 75px;
  transition: all 0.3s ease 0s;
}

.add-group-bttn:hover {
  filter: brightness(75%);
}

.add-group-label {
  background-color: #bfbfbf;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 75px;
  width: 19%;
  font-size: 2.1em;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px
}

.group-label {
  margin-left: 8px;
  font-size: 1.2em;
}

.user-panel {
  padding: 0px;
  border: 0;
  margin-top: 20px;
  margin-bottom: : 20px;
  border-radius: 3px
}

.user-bttn {
  background: #bfbfbf;
  text-align: center;
  padding-top: 25px;
  font-size: 1.4em;
  border: 0;
  margin: 20px 0px 20px 3%;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  border-radius: 3px;
  height: 100px;
  width: 30%;
  transition: all 0.3s ease 0s;
}

.user-bttn.add:hover {
  filter: brightness(75%);
}
