<!DOCTYPE html>
<html ng-app="Markable" ng-csp>
<head>

	<title>Markable</title>
	<!-- <link rel="stylesheet" type="text/css" href="../css/style.css"> -->
	<script type="text/javascript" src="../lib/angular.min.js"></script>
	<script src="../lib/angular-ui-router.js"></script>
	<script type="text/javascript" src="../controllers/dropdown.js"></script>
  <script type="text/javascript" src="../controllers/main.js"></script>
  <script type="text/javascript" src="../services/authorization.js"></script>
	<script type="text/javascript" src="../app/app.js"></script>
	<script type="text/javascript" src="../app/scripts/test.js"></script> 

	<script src="../lib/rangy/lib/rangy-classapplier.js"></script>
	<script src="../lib/rangy/lib/rangy-core.js"></script>
	<script src="../lib/rangy/lib/rangy-highlighter.js"></script>
	<script src="../lib/rangy/lib/rangy-selectionsaverestore.js"></script>
	<script src="../lib/rangy/lib/rangy-serializer.js"></script>
	<script src="../lib/rangy/lib/rangy-textrange.js"></script>

</head>
<body>
	<a ui-sref="home" ui-sref-active="active">start</a>
	<div ng-view></div>
	<div ui-view> 

	</div>
  <script type="text/javascript" src="../app/scripts/selectionScript.js"></script> 
</body>
</html>