<!DOCTYPE html>
<html ng-app="reboot" ng-csp>
<head>

	<title>Unexpected Reboots</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="lib/angular.min.js"></script>
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="controllers/rebootCtrl.js"></script>
 
</head>
<body ng-controller="rebootController" >
	<div class="container"> 
		<div calss="panel bg-primary">
		<div class="panel-heading bg-success">Unexpected Reboots</div>
		<div class="panel-body bg-primary">
		 <span>Dashboard</span>
		 <span>{{selectedText}}</span>	
		</div>
	 	</div>
	</div>
 
</body>
</html>